
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.sidebar-container {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #F8FAFF;
  overflow-x: auto;
}


@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
  }

  .sidebar-container {
    flex: 0.25;
    display: block; 
  }

  .content {
    flex: 1.5;
    overflow-x: hidden;
  }
}
