/* src/components/Dashboard/Dashboard.css */

.dashboard {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.sidebar-container {
  flex: .25;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  overflow-x: hidden;
  flex: 1.5;
  background-color: #F8FAFF;
}

.navbar-container {
  flex: 1;
}

/* Add media queries or additional styles as needed for responsiveness */
